.partie1-apropos{
  min-height: 500px;
  display: flex;
  flex-direction: column;
  /*align-items: center;*/
  justify-content: center;
}

.txt-apropos{
  font-family: "Oswald";
  color: rgb(216, 216, 216);
  font-size: 50px;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 25px;
  margin-bottom: 0;
}

.txtapropos{
  font-family: "Oswald";
  color: rgb(216, 216, 216);
  font-size: 20px;
  vertical-align: middle;
  margin-top: 25px;
  margin-bottom: 0;
  margin-left: 200px;
  margin-right: 200px;
}

.partie2-apropos{
  display: flex;
  align-items: center;
  justify-content: center;
}

.infos-pratiques{
  font-family: "Oswald";
  color: rgb(216, 216, 216);
  font-size: 50px;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 25px;
  margin-bottom: 0;
}

.partie3-apropos{
  height: 500px;
  /*background-color: rgb(32, 32, 32);*/
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 50px;
}
.p3droite{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 1;
}

.coord{
  font-family: "Oswald";
  color: rgb(216, 216, 216);
  font-size: 25px;
  vertical-align: middle;
  white-space: nowrap;
}

.p3gauche{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  height: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.p3droiteh{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom : 50px;
}

.p3droiteb{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.p3droiteb-txt{
  margin-bottom: 10px;
}

.socialnetwork{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.socialnetwork-icon{
  height: 50px;
  width: 50px;
  margin-right: 10px;
  margin-left: 10px;
  transition: opacity 0.25s;
}

.socialnetwork-icon:hover{
  opacity: 0.8;
}
