.partie1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 40vw;
  background-color:black;
  /*background-image: url('images/pizzafourop.jpg');
  background-size: cover;
  background-position: center; */
  border-bottom: solid 5px rgb(214, 121, 0);
  margin-bottom: 20px;

  position: relative;
  overflow: hidden;
  text-align: center;
}

video {
  object-fit: cover;
  height: 100%;
  width: 100%;

  position: absolute;
  top: 0;
  left: 0;
}

.txt{
  font-family: "Oswald";
  color: rgb(216, 216, 216);
  font-size: 50px;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
}

.txt2{
  font-family: "Oswald";
  color: rgb(216, 216, 216);
  font-size: 50px;
  vertical-align: middle;
  white-space: nowrap;
  margin-top: 0;
  margin-bottom: 0;
}

.pizzafour{
  height: 100%;
  opacity: 0.5;
}

.partie2{
  height: 500px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 150px;
  margin-bottom: 100px;
}
.p2gauche{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.oli-pizza-farine{
  width: 50%;
  margin-left: 250px;
  border-radius: 5%
}
.p2droite{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  min-height: 100%;
}
.desc-pizza{
  font-family: "Oswald";
  color: rgb(216, 216, 216);
  max-width: 50%;
  margin-right: 250px;
  font-size: 20px;
}
@media (max-width: 1230px){
  .pizza{
    margin-left: 0px;
  }
  .desc-pizza{
    margin-right: 0px;
  }
}

.partie3{
  height: 500px;
  /*background-color: rgb(32, 32, 32);*/
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.p3droite{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.ingredients{
  width: 60%;
  margin-right: 250px;
}
.p3gauche{
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
}
.desc-ingredients{
  font-family: "Oswald";
  color: rgb(216, 216, 216);
  max-width: 50%;
  margin-left: 250px;
  font-size: 20px;
}

@media (max-width: 1230px){
  .desc-ingredients{
    margin-left: 0px;
  }
  .ingredients{
    margin-right: 0px;
  }
}
